<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/index.css">
  <title>Serratec | Home</title>
</head>

<body>

  <div class="container">

    <h1>Serratec</h1>
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top">
      <a href="#" class="navbar-brand">
        <img src="./img/logo.png" alt="Logo">
      </a>

      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contato">Contato</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="sobre">Sobre</a>
        </li>

      </ul>
        
      <div class="ml-auto">
        <button class="btn btn-light" onclick="window.location.href='/login'">Login</a> </button>
        <button class="btn btn-light">Sign-up</button>
      </div>
      
    </nav>


    <div class="row">
      <div class="col-12 col-lg-6 ">
        <h3>Projeto Serratec</h3>
        <p id="txt1"> </p>

        <p id="txt2"> </p>
      </div>
      <div class=" col-12 col-lg-6 my-auto">
        <div id="pictures" class="carousel slide" data-ride="carousel">

          <!-- Indicators
          <ul class="carousel-indicators">
            <li data-target="#pictures" data-slide-to="0" class="active"></li>
            <li data-target="#pictures" data-slide-to="1"></li>
            <li data-target="#pictures" data-slide-to="2"></li>
          </ul> -->

          <video width="550" height="240" autoplay loop>
            <source src="./img/intro.mp4" type="video/mp4">
          </video>

          <!-- The slideshow -->
          <div class="carousel-inner">

            
            <!--<div class="carousel-item active">
              <img class="img-fluid" src="img/turma.jpg" alt="Turma">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" src="/img/alunos.jpg" alt="Alunos">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" src="/img/Grupo_5.JPG" alt="Alunos">
            </div>-->
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#pictures" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#pictures" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="./img/web.png" class="img-fluid">
          </div>
          <div class="card-body">
            <h4 class="card-title">Frontend</h4>
            <p class="card-text">Desenvolva sites e webapps com HTML, CSS e JavaScript. 
              Aprenda as boas práticas e as últimas versões do JavaScript. Estude ferramentas e frameworks do mercado como React e React Native.</p>
          </div>
          <div class="card-footer">
            <a href="" class="card-link">Ler mais</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="./img/spring.jpg" class="img-fluid">
          </div>
          <div class="card-body">
            <h4 class="card-title">Backend</h4>
            <p class="card-text">Aprenda a Desenvolver Arquiteturas de Cliente - Servidor que Interagem com Aplicações Web. Conheça as boas práticas para 
              desenvolvimento de APIs REST e como implementar de forma simples.</p>
          </div>
          <div class="card-footer">
            <a href="" class="card-link">Ler mais</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="/img/coach.jpg" class="img-fluid">
          </div>
          <div class="card-body">
            <h4 class="card-title">Coaching</h4>
            <p class="card-text">Com objetivo de aumentar o comprometimento e de uma
              melhor performance dos estudantes, a residência contará com Coaching de Alta Performance. </p>
          </div>
          <div class="card-footer">
            <a href="" class="card-link">Ler mais</a>
          </div>
        </div>
      </div>

    </div>

    <footer>
      <hr>
      <span>Todos os direitos reservados a Serratec</span>
    </footer>
  </div>

  <script src="../../js/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>