<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Serratec</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body class="conteiner">

        <div class="alert esconder">
            Mensagem padrão !!
        </div>

        <div class="box-login">
            <h1>Serratec</h1>
            <div class="group">
                <label for="email">E-mail</label>
                <input id="email" type="text" autocomplete="off">
            </div>
            <div class="group">
                <label for="senha">Senha</label>
                <input id="senha" type="password">
            </div>
            <button id="btn-entrar">Entrar</button>

        </div>
   <script src="../../js/login.js"></script>
</body>
</html>