<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Serratec | Sobre</title>
</head>
<body>

  <div class="container">

    <h1>Serratec</h1>

    <nav class="navbar navbar-expand bg-light navbar-light sticky-top">
      <a href="#" class="navbar-brand">
        <img src="../img/logo.png" alt="Logo">
      </a>

      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contato">Contato</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="sobre">Sobre</a>
        </li>

      </ul>

      <div class="ml-auto">
        <button class="btn btn-light" onclick="window.location.href='/login'">Login</button>
        
      </div>
    </nav>

    <div class="row">
      <div class="col-12 col-lg-6 my-auto">
        <h1>Quem Somos</h1>
        <p id="txt1"> </p>
          
        <p id="txt2"> </p>
      </div>
      <div class="col-12 col-lg-6 my-auto">
        <img class="img-fluid" src="../img/membros.jpg" alt="Membros-serratec">
      </div>
    </div>

    <hr>

    <div class="jumbotron jumbotron-fluid pt-4">
      <div class="container-fluid">
        <h1 class="pb-3">Nossa Missão</h1>
        <p id="missao"> </p>
        </p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-lg-6 my-auto">
        <img class="img-fluid" src="../img/faixada.jpg" alt="Faixada-serratec">

      </div>
      <div class="col-12 col-lg-6 my-auto">
        <h1 class="pt-3 mb-4">História</h1>
        <p id="historia"> </p>

      </div>
    </div>

    <footer>
      <hr>
      <span>Todos os direitos reservados a Serratec</span>
    </footer>
  </div>
  <script src="../../js/sobre.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>